/.vs
/packages
/ExampleApp
/Examples/bin
/Examples/obj
/UngerboeckSDKWrapper/bin
/UngerboeckSDKWrapper/obj
/UngerboeckSDKWrapper/.vs
/UngerboeckSDKPackage.dll
Ungerboeck.png
*.nuspec
*.nupkg
*.vspscc
*.vssscc
*.lnk
.gitignore